name: Spellcheck Action
on: push

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483b67b9eac41e206419c3f94ba60dd04f9f # v6.0.1
    - uses: rojopolis/spellcheck-github-actions@0bf4b2fdd25eb2c4b9ad1086b95bd4e42b35fc69 # 0.58.0
      name: Spellcheck
